@use "./reset";
@use "./components/layouts/header";
@use "./components/layouts/about";
@use "./components/layouts/projects";
@use "./components/layouts/technologies";
@use "./components/layouts/contact";
@use "./components/vars/vars" as *;

body{
	width: 100%;
	height: 100%;
	background-color: #1F2937;
	color: #fff;
	font-family: "sans-serif"; 
}

