@use "../vars/vars" as *;

@mixin fontStyle($fz,$w){
	font:{
		size: $fz;
		weight: $w;
		family: $font-family;
	}
	color: $text-color;
}



.content{
	position: relative;
	&__img-bcg{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: #030A33;
		 filter: blur(5px);
  		-webkit-filter: blur(5px);
  		z-index: -1;
  		outline: 10px solid #000;
	}
}


.tecnologies{
	margin-top: 1.5rem;
	padding: 0 1rem;
	text-align: center;
	&__title{
		font-size: 2.6rem;
	}
	&__icons{
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
		justify-content: center;
		margin-top: 1.1rem;
		padding: 0 1rem;
	}
	&__icon{
		max-width: 50px;
		font-size: 2.1rem;
		cursor: pointer;
		transition: color $speed;
		&:hover{
			color: $secondary-color;
		}
	}
}


.projects{
	text-align: center;
	padding-top: 7rem;
	max-width: 1600px;
	margin: auto;
	&__title{
		font-size: 2.7rem;
		margin: 1rem 0;
	}
	&__list{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 2rem;
		border-radius: 17px;
		padding: 1rem 2.5rem;
		margin: 0 2rem;
	}
	.item{
		position: relative;
		max-width: 350px;
		color: #fff;
		transition: max-width $speed;
		&:hover{
			.item__links{
				transform: translateY(0);
				opacity: 1;
			}
		}
		@media screen and (max-width: 900px){
			max-width: 250px;
		}
		&__title{
			font-size: 1.5rem;
			@media screen and (max-width: 900px){
			font-size: 1.3rem;
		}
		}
		&__links{
			position: absolute;
			bottom: 2rem;
			left: 15%;
			display: flex;
			column-gap: 1rem;
			transition: transform $speed, opacity $speed;
			transform: translateY(2rem);
			opacity: 0;
			@media screen and (max-width: 900px){
			left: 5%;
		}
		}
		&__link{
			font-size: 1.4rem;
			padding: .3rem .7rem;
			background-color: #000;
			border-radius: 17px;
			cursor: pointer;
			transition: filter $speed;
			&:hover{
				filter: invert(1);
			}
			@media screen and (max-width: 900px){
			font-size: 1.2rem;
		}
		}
	}

}

.about{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	column-gap: 1rem;
	margin: 0 auto;
	margin-top: 3rem;
	padding: 0 1.9rem;
	padding-top: 4rem;
	padding-bottom: 4rem;
	text-align: center;
	width: 100%;
	background: linear-gradient(#030A33,#061D6E);
	color: #fff;
	&__text{
		margin-bottom: 1rem;
		&-title{
		font-size: 3.2rem;
		font-weight: 700;
		color: $secondary-color;
		}
		&-description{
			max-width: 700px;
			margin: auto;
			font-size: 1.7rem;
			letter-spacing: 1px;
		}
		&-b{
			color: $secondary-color;
		}
	}
	&__contact{
		width: 100%;
		padding: 1.5rem 0;
		&-ul{
			display: flex;
			justify-content: center;
		}
		&-li{
			display: flex;
			margin: 0 .5rem;
		}
		&-link{
			font-size: 2.5rem;
			transition: color $speed;
			&:hover{
				color: $secondary-color;
			}
		}
		&-p{
			font-size: 1.5rem;
		}
	}
}