@use "../vars/vars" as *;

.contact{
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 250px; 
	text-align: center;
	&__title{
		text-align: center;
		font-size: 1.7rem;
		font-family: monospace;
		padding-bottom: 1rem;
	}
	&__ul{
		display: flex;
		flex-direction: column;
		justify-content: center;
		font-size: 1.3rem;
		&-link{
			transition: color $speed;
			&:hover{
				color: $secondary-color;
			}
		}
		&-icons{
			display: flex;
			justify-content: center;
			font-size: 2rem;
		}
		&-li{
			margin: .4rem;
		}
		&-p{
			margin-top: 1rem;
			font-size: 1.3rem;
			font-family: monospace;
		}
	}
}